body{background-image: url(https://i.pinimg.com/originals/f9/77/3f/f9773fc64acc877e9a0a0fc06899e322.gif);background-size: cover;}
h1{background-color: rgba(230, 230, 250, 0.747);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center; border-radius: 25px;
}
.codigos{text-align: center;
    width: 100px;
    height: 40px;
}

h3{
    background-color: rgba(230, 230, 250, 0.747);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 15px;
    width: 200px;
    margin-left: 40%;
    

}

a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}


.al{
background-color: rgba(230, 230, 250, 0.151) ;
width: 500px;
height: 500px;
text-align: center;
align-items: center;
margin-left: 30%;
margin-top: 60px;
border-radius: 5px;
}
.tx1{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     color: lavender;
     text-shadow: 0 0 10px rgb(138, 31, 170);
     width: 50%;
     text-align: center;
     margin-left: 120px;
}
.tarea{
width: 300px; 
height: 150px;
background-color: rgba(93, 216, 196, 0.644);
color: black;
border-radius: 5px;
border: 2px solid rgb(45, 219, 132);
}
.codigos{
width: 300px;
background-color: rgba(93, 216, 196, 0.644);
color: black;
border: 2px solid rgb(45, 219, 132);
}
button:hover { background-color: rgb(85, 50, 141);
    color:white;
}
.boton{
    padding-top: 50px;
}
button{
    width: 200px;
    height: 50px;
    background-color: rgb(80, 182, 160);color: black;
    font-family: 'Times New Roman', Times, serif;
}
.pie{
    text-align: center;
    color: white;
}
.cuadro{
    padding-top: 30px;
}
.tarea:hover{background-color: rgba(182, 95, 240, 0.445);
    color: black;
   }

.codigos:hover{background-color: rgba(182, 95, 240, 0.445);
    color: black;
   }

.contador{
    color: white ;
}

  
   
/*Contenedor*/

.modalctn{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctnClose{
    visibility: hidden;
}



/*
justify-content define cómo el navegador
 distribuye el espacio entre y alrededor de
  los items flex, a lo largo del eje principal de su contenedor
*/

.modal{
    background-color:rgba(230, 230, 250, 0.151) ;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    padding: 0.5rem;
    animation: open 0.5s forwards;
}

#close{
    margin: 5px 5px 0px 0px;
    align-self: flex-end;
    width: 25px;
    height:  25px;
    background-color: transparent;
    font-size: 1.5rem;
    line-height: 25px;
    cursor: pointer;
    border-radius: 10px;
}

.close{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(186, 83, 218);
}


.tarearesult{
    background-color: rgba(93, 216, 196, 0.644);
    color: black;
    border-radius: 5px;
    border: 2px solid rgb(45, 219, 132);
    width: 60%;
    height: 50%;
    margin-left: 20%;
}

.tarearesult:hover{
    background-color:rgba(182, 95, 240, 0.445) ;
    color: black;
}

.copy{
    width: 61%;
    margin-left: 10px;
    margin-bottom: 40px;
}

.mjsresult{
    font-family: sans-serif;
    color: white ;
    text-shadow: 0 0 10px rgb(31, 165, 170);
    padding-bottom: 10px;
    
}

/*2pag*/

.al2{
    background-color: rgba(230, 230, 250, 0.151) ;
    width: 500px;
    height: 490px;
    text-align: center;
    align-items: center;
    margin-left: 30%;
    margin-top: 60px;
    border-radius: 5px;

}

.tarea3{
    width: 350px; 
    height: 250px;
    background-color: rgba(93, 216, 196, 0.644);
    color: black;
    border-radius: 5px;
    border: 2px solid rgb(45, 219, 132);
}

.letra{
    background-color: rgba(216, 191, 216, 0.377);
    color:black;
    width: 45%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-left: 26%;
    border-radius: 5px;

}
